html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  margin: 0;
  line-height: 1.5;
  font-size: 125%;
}

a:hover {
  opacity: 0.5;
}

.container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  background-color: #ffe600;
  padding: 5vh 0 10vh 0;
  nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10vh;
  }
  nav > a:first-child {
    text-transform: uppercase;
    letter-spacing: 0.33rem;
  }
  nav > div {
    display: flex;
    a + a {
      margin-left: 2.5rem;
    }
  }
  nav a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    img {
      display: block;
      margin: 0 0.75rem 0 0;
      height: 3.5rem;
    }
  }
  p {
    max-width: 500px;
  }
}
header .container > div {
  max-width: 600px;
}

h1,
h2 {
  line-height: 1.2;
  margin-top: 0;
}

.button {
  background-color: #66029c;
  color: #fff;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  font-size: 120%;
  display: inline-block;
  border-radius: 10rem;
  &:hover {
    opacity: 1;
    box-shadow: inset 0 0 10rem rgba(0, 0, 0, 0.25);
  }
}

#pricing {
  background-color: whitesmoke;
  padding: 2rem 0;
  .container {
    display: flex;
  }
  .container > div {
    flex: 1 0 0;
    background-color: #fff;
    margin: 0 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    text-align: center;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  h3 {
    margin: 0;
    + div {
      font-size: 150%;
      font-weight: bold;
      color: #66029c;
    }
  }
  .button {
    margin-top: 0.5rem;
    background-color: #ebd3f5;
    color: inherit;
    + p {
      margin: 0.5rem 0 0 0;
      text-align: center;
      max-width: 100%;
      font-size: 80%;
      opacity: 0.75;
    }
  }
  .recommended .button {
    background: #66029c;
    color: #fff;
  }
  ul {
    margin: 2rem 0;
    padding: 0;
    list-style: none;
  }
  li {
    margin: 1rem 0;
  }
  p {
    font-size: 90%;
    max-width: 80%;
  }
}

.q {
  display: inline-block;
  background-color: #ffe600;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  margin-top: -0.1rem;
  font-size: 0.75rem;
  font-weight: bold;
  vertical-align: middle;
  border-radius: 100%;
  text-decoration: none;
  margin-left: 0.5rem;
  transform: scale(1.25);
}

#faq {
  background-color: whitesmoke;
  padding: 2.5rem 0;
  details + details {
    margin-top: 1rem;
  }
  details {
    max-width: 600px;
  }
}

.cta {
  background-color: #ffe600;
  padding: 5vh 0 10vh 0;
  .container > div {
    max-width: 500px;
  }
}

.doodle {
  position: absolute;
  right: -10vw;
  bottom: -5vh;
  max-width: 550px;
}
header .doodle {
  bottom: -10vh;
}

footer {
  background-color: #000;
  color: #fff;
  font-size: 80%;
  padding: 2.5vh 0;
  .container {
    display: flex;
    justify-content: space-between;
  }
  a {
    color: inherit;
  }
  nav {
    display: flex;
    a + a {
      margin-left: 2rem;
    }
  }
}

.message {
  padding: 1.5vh 0;
  background-color: #e2650d;
  color: #fff;
  h2 {
    margin-bottom: 0.5rem;
  }
  p {
    margin: 0;
  }
  .container {
    display: flex;
    align-items: center;
    p {
      margin-right: 2rem;
      flex: 1 0 0;
    }
  }
  a.button {
    font-size: 100%;
    padding: 0.5rem 1rem;
  }
}

code {
  font-family: "SFMono-Regular", Consolas, Liberation Mono, Menlo, monospace;
}

@media (max-width: 900px) {
  header nav,
  .message .container,
  #pricing .container,
  footer .container {
    display: block;
  }
  #pricing .container > div:not(:first-child) {
    margin-top: 1rem;
  }
  header nav > div {
    margin-top: 1rem;
  }
  .doodle {
    position: static;
    margin-top: 5vh;
    margin-bottom: -10vh;
  }
  .container {
    max-width: 90%;
  }
}
